body {
    background-color: rgba(168, 104, 31, 0.507);
    font-size: 20px;
}

h1 {
    font-weight: bold;
    font-size: 70px;
    text-align: center;
}

.returnHome {
    text-align: center;
    display: block;
    font-size: 20px;
}

.homeList {
    padding-top: 2%;
    text-align: center;
    list-style-type: none;
}

.pizzaimg {
    width: 800px;
    height: auto;
}

.spinimg {
    width: auto;
    height: 700px;
}

.cookieimg {
    width: auto;
    height: 700px;
}