body {
    background-color: rgba(168, 104, 31, 0.507);
    font-family: system-ui;
    margin-inline: auto;
    width: min(90ch, 100% - 20px);
    line-height: 25px;
}

h1 {
    font-weight: bold;
    font-size: 70px;
    text-align: center;
    line-height: 70px;
}

.returnHome {
    text-align: center;
    font-weight: bold;
    display: block;
    font-size: 20px;
}

.homeList {
    text-align: center;
    font-weight: bold;
    list-style-type: none;
    font-size: 20px;
    line-height: 40px;
    font-family: Comic Sans MS, Comic Sans, cursive;
}

img {
    max-width: 100%;
    display: block;
}